@model IEnumerable<TMDT.Models.LoaiSanPham>
<div class="col-xl-3 col-lg-4 d-none d-lg-block">
    <div class="vertical-menu mb-all-30">
        <nav>
            <ul class="vertical-menu-list">
                @foreach (var item in Model)
                {
                    <li >
                        <a href="@Url.Action("Shop", "Default", new {id = item.IdLoaiSP})"><span class="fas fa-tshirt "></span>@item.TenLoaiSP<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                }
                    
            </ul>
        </nav>
    </div>
</div>
