@using TMDT.Models
@model List<Giohang>
<li>
    <a href="@Url.Action("Giohang","GioHang")"><i class="lnr lnr-cart"></i><span class="my-cart"><span class="total-pro">(@ViewBag.Tongsoluong)</span><span>Giỏ hàng</span></span></a>
    <ul class="ht-dropdown cart-box-width">
        <!--<li>-->
            <!-- Cart Box Start -->
          
            <!-- Cart Footer Inner End -->
        <!--</li>-->
    </ul>
</li>
